#home-carousel {
	$height-xs: 250px;
	$height: 500px;
	
	height: $height-xs;
	@media(min-width: $screen-sm-min) {
		height: $height;
	}

	div.item {
		width: 100%;
		
		height: $height-xs;
		@media(min-width: $screen-sm-min) {
			height: $height;
		}

		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		&:nth-child(1) {
			background-image: url('http://lorempixel.com/1920/1080/food/1');
		}

		&:nth-child(2) {
			background-image: url('http://lorempixel.com/1920/1080/food/2');
		}

		&:nth-child(3) {
			background-image: url('http://lorempixel.com/1920/1080/food/3');
		}
	}
}