extends ./templates/_skeleton.pug

block header
	.header-banner
	nav.navbar.navbar-default
		.container-fluid
			.navbar-header
				button.navbar-toggle.collapsed(data-toggle='collapse' data-target='navbar-collapse')
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href='/') 
					div

			#navbar-collapse.collapse.navbar-collapse
				ul.nav.navbar-nav.navbar-center
					li(name='home')
						a(href='/') Home
					li(name='quem-somos')
						a(href='/quem-somos') Quem Somos
					li(name='sistema')
						a(href='/sistema') O Sistema
					li(name='kits')
						a(href='/kits') Kits
					li(name='cadastre-se')
						a(href='/cadastro') Cadastre-se
					li(name='fale-conosco')
						a(href='/fale-conosco') Fale Conosco
					li.visible-xs-inline-block
						a(href='') Entrar

				ul.nav.navbar-nav.navbar-right.hidden-xs.hidden-sm
					li
						a(href='') 
							span
								i.fa.fa-unlock
								|  Entrar

					li.separator

					li.contact
						a(href='' target='_blank') 
							i.fa.fa-phone
					li.contact
						a(href='' target='_blank') 
							i.fa.fa-envelope-o
					li.contact
						a(href='' target='_blank') 
							i.fa.fa-facebook

				ul.nav.navbar-nav.navbar-right.hidden-xs.visible-sm-inline-block
					li.dropdown
						a.dropdown-toggle(href='' style='font-size: 18px' data-toggle='dropdown' role='button')
							span.glyphicon.glyphicon-option-vertical
						ul.dropdown-menu
							li.contact
								a(href='' target='_blank') 
									i.fa.fa-phone 
									|  (21) 99999-8888
							li.contact
								a(href='' target='_blank') 
									i.fa.fa-envelope-o 
									|  contato@email.com
							li.contact
								a(href='' target='_blank') 
									i.fa.fa-facebook 
									|  Facebook

							li.divider(role='separator')

							li
								a(href='') 
									span.text-primary 
										i.fa.fa-unlock
										|  Entrar

block page
	.container-fluid(ng-view='')

block footer
	.container-fluid.footer
		.container
			.row.offset-top-15
				.col-xs-12.col-sm-8.col-md-3
					.logo
					//- h4.text-white.offset-top-30 Sobre
					//- p.text-white
						| No MERCADO AMIGO, você compra e fica com todo o lucro do atacadista, varejista e de propaganda. Baseado na Economia Solidária.
				.col-xs-12.col-sm-4.col-md-3.text-center-xs
					h3.text-white Site
					ul.list-unstyled.offset-left-15
						li
							a(href='/home') Home
						li
							a(href='/quem-somos') Quem Somos
						li
							a(href='/sistema') O Sistema
						li
							a(href='/kits') Kits
						li
							a(href='/cadastre-se') Cadastre-se
						li
							a(href='/fale-conosco') Fale Conosco
				.col-xs-12.col-sm-4.col-sm-push-8.col-md-3.col-md-push-0.text-center-xs
					h3.text-white Participe
					ul.list-unstyled.offset-left-15
						li
							a(href='') Escritório
						li
							a(href='') Facebook
						li
							a(href='') Blog
				.col-xs-12.col-sm-8.col-sm-pull-4.col-md-3.col-md-pull-0.text-center-xs
					h3.text-white Contatos
					ul.list-unstyled.text-white.offset-left-15
						li
							| Telefone:
							a(href='')  (21) 99999-8888
						li 
							| Email:
							a(href='')  contato@email.com

				.col-xs-12.copyright.offset-top-30
					p.text-white.clearfix.text-center-xs Mercado Amigo © 2017 Todos os direitos reservados
						a.hidden-xs.pull-right(href='http://futuraagencia.com.br' target='_blank')
							i.fa.fa-cube
							|  Futura Agência
						a.visible-xs-block.center-block.offset-top-15(href='http://futuraagencia.com.br' target='_blank')
							i.fa.fa-cube
							|  Futura Agência