.black-bg
video(poster='../images/bg_login.png' playsinline autoplay muted loop)
	source(src='../videos/bg_login.webm' type='video/webm')
	source(src='../videos/bg_login.mp4' type='video/mp4')

h2.login-subtitle.text-center.text-md.text-white.offset-top-60
	| O Mercado Amigo
h1.login-title.text-center.text-xlg.text-white.offset-top-30.offset-bottom-60
	| Entrar

.row
	.col-xs-12.col-sm-offset-3.col-sm-6.col-md-offset-4.col-md-4
		.login-container.offset-top-60
			.logo
			h2.text-center.text-lg.offset-bottom-15 Acesse sua conta
			h5.text-center.offset-bottom-15(style='color: red') {{entrar.erro}}

			h4.text-light.required-field-label Login
				span  *
			input.form-control(type='text' ng-model='login')

			h4.text-light.required-field-label Senha
				span  *
			input.form-control(type='password' ng-model='senha')

			.row.offset-top-30
				.col-xs-12.col-sm-6.col-sm-push-6
					button.btn.btn-primary.btn-block.btn-lg.btn-pill(ng-click='entrar.login(login, senha)') Acessar
				.col-xs-12.col-sm-6.offset-top-15.col-sm-pull-6.text-center
					a(target="_blank" href="http://www.omercadoamigo.com.br/admin/recuperar-senha/")
						| Esqueci minha senha

div(style='height: 200px')