.row
	#dark-banner.banner-small
		.cover-background.dark(style='background-image: url("../images/banner-fale-conosco.jpg")')
		.foreground
			h1.section-header.text-xlg.text-center.text-white.offset-top-60 Fale conosco
			p.section-subheader.text-center.text-sm.text-white.offset-bottom-30
				| Tire dúvidas e envie sugestões

.container.offset-top-60.offset-bottom-60
	.row
		.col-xs-12.col-sm-offset-2.col-sm-8
			h2.section-header.text-lg.text-center Envie sua mensagem
			p.section-subheader.text-gray.text-sm.text-center.offset-bottom-60
				| Conte com nosso Fale Conosco para tirar suas dúvidas e enviar sugestões

			h4.text-light.required-field-label Nome
				span  *
			input.form-control(type='text' ng-model='nome')

			h4.text-light.required-field-label Email
				span  *
			input.form-control(type='email' ng-model='email')

			h4.text-light.required-field-label Mensagem
				span  *
			textarea.form-control(ng-model='mensagem')
			
			.row.offset-top-30
				.col-xs-12.col-sm-push-8.col-sm-4
					button.btn.btn-primary.btn-block.btn-lg.btn-pill(ng-click='faleConosco.submit()') 
						| Enviar

#modal-warning.modal.fade(role='dialog')
	.modal-dialog(role='document')
		.modal-content
			.modal-header
				button.close(type='button' data-dismiss='modal' aria-label='Fechar')
					span(aria-hidden='true') &times;
				h4.modal-title Aviso!
			.modal-body
				p Preencha corretamente todos os campos!
			.modal-footer
				button.btn.btn-primary(type='button' data-dismiss='modal') Fechar

#modal-confirm.modal.fade(role='dialog')
	.modal-dialog(role='document')
		.modal-content
			.modal-header
				button.close(type='button' data-dismiss='modal' aria-label='Fechar')
					span(aria-hidden='true') &times;
				h4.modal-title Confirmação
			.modal-body
				p A mensagem foi enviada!
			.modal-footer
				button.btn.btn-primary(type='button' data-dismiss='modal') Fechar

#modal-error.modal.fade(role='dialog')
	.modal-dialog(role='document')
		.modal-content
			.modal-header
				button.close(type='button' data-dismiss='modal' aria-label='Fechar')
					span(aria-hidden='true') &times;
				h4.modal-title Aviso
			.modal-body
				p Não foi possível enviar a mensagem, tente novamente mais tarde.
			.modal-footer
				button.btn.btn-primary(type='button' data-dismiss='modal') Fechar