.row
	#home-carousel.carousel.slide(data-ride='carousel')
		.carousel-inner(role='list-box')
			.item.active
			.item
			.item

		// Controls
		a.left.carousel-control(data-target='#home-carousel' role='button' data-slide='prev')
			span.glyphicon.glyphicon-chevron-left
		a.right.carousel-control(data-target='#home-carousel' role='button' data-slide='next')
			span.glyphicon.glyphicon-chevron-right

.container.offset-top-60.offset-bottom-60
	h1.section-header.text-lg.text-center Construa sua rede
	p.section-subheader.text-center.text-gray.text-sm.offset-bottom-30
		| Aprenda a construir a sua rede de parceiros
	.row
		.col-xs-12.col-sm-6.col-md-3
			p.text-primary.text-center.offset-top-60
				span.icon-xlg.fa.fa-laptop
			p.text-center.text-md.text-light.offset-top-30 Adquirir seu escritório virtual

		.col-xs-12.col-sm-6.col-md-3
			p.text-primary.text-center.offset-top-60
				span.icon-xlg.fa.fa-shopping-basket
			p.text-center.text-md.text-light.offset-top-30 Adquirir 1 kit por mês

		.col-xs-12.col-sm-6.col-md-3
			p.text-primary.text-center.offset-top-60
				span.icon-xlg.fa.fa-comments-o
			p.text-center.text-md.text-light.offset-top-30 Divulgar a empresa

		.col-xs-12.col-sm-6.col-md-3
			p.text-primary.text-center.offset-top-60
				span.icon-xlg.fa.fa-diamond
			p.text-center.text-md.text-light.offset-top-30 Receber bonificações

#dark-banner.row
	.cover-background.darker(style='background-image: url("../images/quem-buscamos.jpg")')
	.foreground
		p.text-center.text-white
			i.icon-lg.fa.fa-group
		
		h1.header.text-center.text-white.text-lg
			| Quem Buscamos

		h3.subheader.text-center.text-white.offset-top-30
			| Buscamos pessoas empreendedoras que queiram:
		
		p.text-center.offset-top-30(style='max-width: 100%;')
			span.label.label-primary.text-sm
				| Se alimentar bem

			span.label.label-primary.text-sm
				| Mais dinheiro

			span.label.label-primary.text-sm
				| Mais amigos

			span.label.label-primary.text-sm
				| Maior qualidade de vida

		.hidden-xs.col-md-4
			p.quote.text-white.offset-top-30
				| “Pessoas com metas triunfam por que sabem exatamente para onde vão.” 
				br 
				| - EARL NIGHTINGALE
		.hidden-xs.col-md-4
			p.quote.text-white.offset-top-30
				| “Se você pode sonhar, você pode realizar.” 
				br 
				| - WALT DISNEY
		.hidden-xs.hidden-sm.col-md-4
			p.quote.text-white.offset-top-30
				| “Estou convencido que quase a metade do que separa os empreendedores de sucesso dos sem sucesso é pura perseverança.” 
				br 
				| - Steve Jobs

#about.container.offset-top-60.offset-bottom-60
	h1.section-header.text-lg.text-center Quem somos
	p.section-subheader.text-center.text-gray.text-sm.offset-bottom-30
		| Conheça um pouco mais sobre o Mercado Amigo
	.row
		.col-xs-12.col-md-6
			.row.offset-top-30
				.col-sm-6.vcenter
					.thumb
						img.img-responsive.img-circle(src='./images/missao.png')
				.col-sm-6.vcenter
					.description
						p.text-md.offset-top-30 Missão
						p O MERCADO AMIGO leva as famílias brasileiras a oportunidade de construir uma renda extra, gerendo assim uma nova realidade de vida e levando a mesa das familias produtos de qualidade para seu consumo.

		.col-xs-12.col-md-6
			.row.offset-top-30
				.col-sm-6.vcenter
					.thumb
						img.img-responsive.img-circle(src='./images/visao.png')
				.col-sm-6.vcenter
					.description
						p.text-md.offset-top-30 Visão
						p O MERCADO AMIGO baseado na Economia Solidária, busca proporcionar trabalho, satisfação financeira, realização pessoal e renda extra. Nossa missão é levar a todos uma oportunidade igual de crescimento.

		.col-xs-12.col-md-6
			.row.offset-top-30
				.col-sm-6.vcenter
					.thumb
						img.img-responsive.img-circle(src='./images/objetivos.png')
				.col-sm-6.vcenter
					.description
						p.text-md.offset-top-30 Objetivos
						p O MERCADO AMIGO através de uma ideologia de divisão de lucros com seus amigos, busca promover satisfação, realização de sonhos e transformação de vidas.

		.col-xs-12.col-md-6
			.row.offset-top-30
				.col-sm-6.vcenter
					.thumb
						img.img-responsive.img-circle(src='./images/ideia.png')
				.col-sm-6.vcenter
					.description
						p.text-md.offset-top-30 Ideia do negócio
						p Desenvolver e fidelizar uma carteira de consumidores cadastrados, que consumam um dos Kits do MERCADO AMIGO e assim participar de todos os bônus gerados pelos consumos de sua equipe.