.row
	#dark-banner.banner-small
		.cover-background.dark(style='background-image: url("../images/banner-kits.jpg")')
		.foreground
			h1.section-header.text-xlg.text-center.text-white.offset-top-60 Kits
			p.section-subheader.text-center.text-sm.text-white.offset-bottom-30
				| Nossos Produtos

.container
	.row
		.kit.col-xs-12.col-sm-offset-2.col-sm-8(ng-repeat='kit in kits.array')
			a.collapsed(href='' data-toggle='collapse' data-target='#{{kit.id}}' aria-expanded='false' aria-controls='{{kit.id}}')
				h2.section-header.text-center.text-lg.offset-top-60.offset-bottom-30 
					i.fa.fa-shopping-basket
					|  {{kit.nome}}				
					i.pull-right.fa
			.table-responsive.collapse(id='{{kit.id}}')
				table.table
					tbody
						tr(ng-repeat='n in getNumber(kit.itens.length / 2) track by $index')
							td {{kit.itens.length >  $index * 2 ? kit.itens[$index * 2] : ''}}
							td {{kit.itens.length >  ($index * 2) + 1 ? kit.itens[($index * 2) + 1] : ''}}
