.row
	#dark-banner.banner-small
		.cover-background.dark(style='background-image: url("../images/banner-quem-somos.jpg")')
		.foreground
			h1.section-header.text-xlg.text-center.text-white.offset-top-60 Quem somos
			p.section-subheader.text-center.text-sm.text-white.offset-bottom-30
				| Conheça um pouco mais sobre o Mercado Amigo

#about.container.offset-top-60.offset-bottom-60
	.row
		.col-xs-12.col-md-6
			.row.offset-top-30
				.col-sm-12
					.thumb
						img.img-responsive.img-circle(src='./images/missao.png')
				.col-sm-12
					.description
						p.text-center.text-md.offset-top-30 Missão
						p.text-center O MERCADO AMIGO leva as famílias brasileiras a oportunidade de construir uma renda extra, gerando assim uma nova realidade de vida e levando a mesa das familias produtos de qualidade para seu consumo.

		.col-xs-12.col-md-6
			.row.offset-top-30
				.col-sm-12
					.thumb
						img.img-responsive.img-circle(src='./images/visao.png')
				.col-sm-12
					.description
						p.text-center.text-md.offset-top-30 Visão
						p.text-center O MERCADO AMIGO baseado na Economia Solidária, busca proporcionar trabalho, satisfação financeira, realização pessoal e renda extra. Nossa missão é levar a todos uma oportunidade igual de crescimento.

		.col-xs-12.col-md-6
			.row.offset-top-30
				.col-sm-12
					.thumb
						img.img-responsive.img-circle(src='./images/objetivos.png')
				.col-sm-12.vcenter
					.description
						p.text-center.text-md.offset-top-30 Objetivos
						p.text-center O MERCADO AMIGO através de uma ideologia de divisão de lucros com seus amigos, busca promover satisfação, realização de sonhos e transformação de vidas.

		.col-xs-12.col-md-6
			.row.offset-top-30
				.col-sm-12
					.thumb
						img.img-responsive.img-circle(src='./images/ideia.png')
				.col-sm-12.vcenter
					.description
						p.text-center.text-md.offset-top-30 Ideia do negócio
						p.text-center Desenvolver e fidelizar uma carteira de consumidores cadastrados, que consumam um dos Kits do MERCADO AMIGO e assim participar de todos os bônus gerados pelos consumos de sua equipe.