.row
	#dark-banner.banner-small
		.cover-background.dark(style='background-image: url("../images/banner-sistema.jpg")')
		.foreground
			h1.section-header.text-xlg.text-center.text-white.offset-top-60 O Sistema
			p.section-subheader.text-center.text-sm.text-white.offset-bottom-30
				| Melhor Sistema de Trabalho e Consumo do Brasil

.container
	.row
		.col-xs-12.col-sm-8.col-sm-offset-2.text-center.offset-top-60.offset-bottom-60
			h2.section-header.text-lg.offset-bottom-60 Como Trabalhamos
			p.section-subheader.text-sm
				| Desenvolvendo e fidelizando uma carteira de consumidores cadastrados, que consumam um dos kits do Mercado Amigo, e assim participando de todos os bônus gerados pelos consumos de sua equipe.

.row
	#partnership
		.col-md-6
			div.clearfix
				h2.text-white.text-xlg.text-center Chegou a sua vez
				i.icon-xlg.fa.fa-line-chart.text-white.text-center
				p.text-white.text-md.text-center
					| O melhor sistema de trabalho e consumo do Brasil.
		.col-md-6
			div
				h2.text-white.text-md.text-center Faça parte dessa ideia
				ul.text-white.text-sm.list-unstyled
					li
						| Alimentos de qualidade
					li
						| Oportunidade de trabalho
					li
						| Realização de sonhos
					li
						| Muitos amigos
					li
						| Renda extra
					li
						| Liberdade financeira


.container
	.row
		#sistema-chart.text-center.offset-top-60.offset-bottom-60
			h2.section-header.text-lg.offset-bottom-60 Modelo Tradicional

			div
				i.icon-lg.fa.fa-user.text-primary
				p.text-light.text-md Você
			
			div.arrow
				span.center-block.text-center.text-md $
				i.icon-sm.fa.fa-arrow-right
			
			div
				i.icon-lg.fa.fa-bullhorn.text-primary
				p.text-light.text-md Mídia
			
			div.arrow
				span.center-block.text-center.text-md $
				i.icon-sm.fa.fa-arrow-right
			div
				i.icon-lg.fa.fa-shopping-cart.text-primary
				p.text-light.text-md Varejista

			div.arrow
				span.center-block.text-center.text-md $
				i.icon-sm.fa.fa-arrow-right

			div
				i.icon-lg.fa.fa-truck.text-primary
				p.text-light.text-md Atacadista

			div.arrow
				span.center-block.text-center.text-md $
				i.icon-sm.fa.fa-arrow-right

			div
				i.icon-lg.fa.fa-industry.text-primary
				p.text-light.text-md Fabricante

	.row
		#sistema-chart.text-center.offset-top-60.offset-bottom-60
			h2.section-header.text-lg.offset-bottom-60 Modelo Mercado Amigo

			div
				i.icon-lg.fa.fa-users.text-primary
				p.text-light.text-md Sua equipe
			
			div.arrow
				span.center-block.text-center.text-md $
				i.icon-sm.fa.fa-arrow-right
			
			div
				i.icon-lg.fa.fa-user.text-primary
				p.text-light.text-md Você
			
			div.arrow
				i.icon-sm.fa.fa-plus
			div
				i.icon-lg.fa.fa-industry.text-primary
				p.text-light.text-md Fabricante