block footer
	.container-fluid.footer
		.container
			.row.offset-top-15
				.col-xs-12.col-sm-8.col-md-3
					.logo
					//- h4.text-white.offset-top-30 Sobre
					//- p.text-white
						| No MERCADO AMIGO, você compra e fica com todo o lucro do atacadista, varejista e de propaganda. Baseado na Economia Solidária.
				.col-xs-12.col-sm-4.col-md-3.text-center-xs
					h3.text-white Site
					ul.list-unstyled.offset-left-15
						li
							a(href='/home') Home
						li
							a(href='/quem-somos') Quem Somos
						li
							a(href='/sistema') O Sistema
						li
							a(href='/kits') Kits
						//- li
						//- 	a(href='/cadastre-se') Cadastre-se
						li
							a(href='/fale-conosco') Fale Conosco
				.col-xs-12.col-sm-4.col-sm-push-8.col-md-3.col-md-push-0.text-center-xs
					h3.text-white Participe
					ul.list-unstyled.offset-left-15
						li
							a(href='/cadastre-se') Cadastre-se
						li
							a(href='https://www.facebook.com/omercadoamigo' target='_blank') Facebook
						//- li
						//- 	a(href='') Blog
				.col-xs-12.col-sm-8.col-sm-pull-4.col-md-3.col-md-pull-0.text-center-xs
					h3.text-white Contatos
					ul.list-unstyled.text-white.offset-left-15
						li
							| Telefones:
							br
							a(href='callto:21995643921') Vivo: (21) 99564-3921
							br
							a(href='callto:21974648371') Claro: (21) 97464-8371 
						li 
							br
							| Email:
							br
							a(href='mailto:contato@omercadoamigo.com.br')  contato@omercadoamigo.com.br

				.col-xs-12.copyright.offset-top-30
					p.text-white.clearfix.text-center-xs Mercado Amigo © 2017 Todos os direitos reservados
						a.hidden-xs.pull-right(href='http://futuraagencia.com.br' target='_blank')
							i.fa.fa-cube
							|  Futura Agência
						a.visible-xs-block.center-block.offset-top-15(href='http://futuraagencia.com.br' target='_blank')
							i.fa.fa-cube
							|  Futura Agência